<!DOCTYPE html>
<html>
    <head>
        <title>New note</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todo/list">Todo list</a></li>
                <li><a href="/todo/add-new">Add new</a></li>
            </ul>
        </nav>
        <div class="add-new">
            <h1>Add new</h1>
            <form id="add-form">
                <input type="text" name="note" required>
                <button class="add-new__submit-button">Save</button>
            </form>
        </div>
    </body>
    <script src="/js/script.js"></script>
</html>
